// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$padding-x-content: 20px;
$padding-y-content: 16px;

$border-radius: 2px;

$white: #fff;
$black: #000;

$gray-900: #1d1d1d;
$gray-800: #2d2d2e;
$gray-700: #87888a; // Imagem dark grey
$gray-600: #97989a;
$gray-500: #a7a8a9;
$gray-400: #b6b7b9;
$gray-300: #c6c7c8; // Imagem light grey
$gray-200: #d9dada;
$gray-100: #f1f1f1;

$loglist-even: #424242;
$loglist-odd: #383838;
$loglist-hover: rgb(105, 105, 105);
